.idea
.phpunit.result.cache
.phpunit.cache
build
public/build
public/*.hot
composer.lock
coverage
docs
!docs/
!docs/developer-architecture.md
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules
.graphifyignore
